mixin about()
	section.about&attributes(attributes)
		.about__in
			.about__w
				.about__text
					p Позитив-Строй является лидером строительного рынка Челябинска в области навесных фасадов. Наш Заказчик — это <a href='#link'>комбинация</a> сложности объекта, большого объёма работ и сжатых сроков строительства.
				a.about__button.button(href="#button") Портфолио
			a.about__next(href="#next") Далее
 
