mixin awards()
	section.awards&attributes(attributes)
		.awards__in
			.awards__text
				p Государственные и иные награды, присуждавшиеся ранее и присуждающиеся в настоящее время в России. Наградная система России включает в себя национальную символику и давние традиции...
			.awards__slider.slider.slider_awards
				ul.slider__list.scrollyeah(data-shadows="true" data-disableIfFit="false")
					li.slider__item
						a.slider__link(href="assets/images/content/award-big.jpg" data-fancybox="awards" data-caption="Диплом победителя конкурса «Строитель года — 2014» 1" title="Диплом победителя конкурса «Строитель года — 2014» 1")
							.slider__image
								img(src="assets/images/content/award-1.jpg", alt="Диплом победителя конкурса «Строитель года — 2014»")
							.slider__item-title Строитель года «Стройка»
					li.slider__item
						a.slider__link(href="assets/images/content/award-big.jpg" data-fancybox="awards" data-caption="Диплом победителя конкурса «Строитель года — 2014» 2" title="Диплом победителя конкурса «Строитель года — 2014» 2")
							.slider__image
								img(src="assets/images/content/award-2.jpg", alt="Диплом победителя конкурса «Строитель года — 2014»")
							.slider__item-title Строитель года «Стройка»
					li.slider__item
						a.slider__link(href="assets/images/content/award-big.jpg" data-fancybox="awards" data-caption="Диплом победителя конкурса «Строитель года — 2014» 3" title="Диплом победителя конкурса «Строитель года — 2014» 3")
							.slider__image
								img(src="assets/images/content/award-3.jpg", alt="Диплом победителя конкурса «Строитель года — 2014»")
							.slider__item-title Строитель года «Стройка»
					li.slider__item
						a.slider__link(href="assets/images/content/award-big.jpg" data-fancybox="awards" data-caption="Диплом победителя конкурса «Строитель года — 2014» 4" title="Диплом победителя конкурса «Строитель года — 2014» 4")
							.slider__image
								img(src="assets/images/content/award-1.jpg", alt="Диплом победителя конкурса «Строитель года — 2014»")
							.slider__item-title Строитель года «Стройка»
					li.slider__item
						a.slider__link(href="assets/images/content/award-big.jpg" data-fancybox="awards" data-caption="Диплом победителя конкурса «Строитель года — 2014» 5" title="Диплом победителя конкурса «Строитель года — 2014» 5")
							.slider__image
								img(src="assets/images/content/award-2.jpg", alt="Диплом победителя конкурса «Строитель года — 2014»")
							.slider__item-title Строитель года «Стройка»
					li.slider__item
						a.slider__link(href="assets/images/content/award-big.jpg" data-fancybox="awards" data-caption="Диплом победителя конкурса «Строитель года — 2014» 6" title="Диплом победителя конкурса «Строитель года — 2014» 6")
							.slider__image
								img(src="assets/images/content/award-3.jpg", alt="Диплом победителя конкурса «Строитель года — 2014»")
							.slider__item-title Строитель года «Стройка»
