mixin nav()
	.fullpage-nav
		ul.fullpage-nav__list
			li.fullpage-nav__item(data-menuanchor="aboutSection")
				a.fullpage-nav__link(href="#aboutSection")
					.fullpage-nav__dot
					span О компании
			li.fullpage-nav__item(data-menuanchor="awardsSection")
				a.fullpage-nav__link(href="#awardsSection")
					.fullpage-nav__dot
					span Награды
			li.fullpage-nav__item(data-menuanchor="reviewsSection")
				a.fullpage-nav__link(href="#reviewsSection")
					.fullpage-nav__dot
					span Отзывы
			li.fullpage-nav__item(data-menuanchor="pressSection")
				a.fullpage-nav__link(href="#pressSection")
					.fullpage-nav__dot
					span Пресса
			li.fullpage-nav__item(data-menuanchor="certificatesSection")
				a.fullpage-nav__link(href="#certificatesSection")
					.fullpage-nav__dot
					span Сертификаты
