@font-face
	font-family 'HelveticaNeueCyr-Roman'
	src url('../fonts/hinted-subset-HelveticaNeueCyr-Roman.woff2') format('woff2'),
		url('../fonts/hinted-subset-HelveticaNeueCyr-Roman.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'HelveticaNeueCyr-Bold'
	src url('../fonts/hinted-subset-HelveticaNeueCyr-Bold.woff2') format('woff2'),
		url('../fonts/hinted-subset-HelveticaNeueCyr-Bold.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'Direct-Regular'
	src url('../fonts/hinted-subset-Direct-Regular.woff2') format('woff2'),
		url('../fonts/hinted-subset-Direct-Regular.woff') format('woff')
	font-weight normal
	font-style normal

$hB = 'HelveticaNeueCyr-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif
$h = 'HelveticaNeueCyr-Roman', 'Helvetica Neue', Helvetica, Arial, sans-serif
$d = 'Direct-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif
