.header
	position fixed
	z-index 99995
	top 0
	left 0
	right 0
	width 100%
	// padding-top 15px
	// padding-bottom 15px
	min-height 47px
	background #fff url('../images/general/header.png') 50% no-repeat
	background-size 100%
