mixin press()
	section.press&attributes(attributes)
		.press__in
			.press__w
				h1.press__title Пресса
				.press__text
					p Про нас очень много интересного пишут
			.press__slider.slider.slider_articles
				ul.slider__list.scrollyeah(data-shadows="true" data-disableIfFit="false")
					li.slider__item.article
						a.article__link(href="assets/images/content/article-big.jpg" title="Журнал «Архитектура & Проектирование» статья 27 января, 2017 г." data-fancybox="slider" data-caption="Журнал «Архитектура & Проектирование» статья 27 января, 2017 г.")
							.article__image
								img(src="assets/images/content/article-img.jpg", alt="Отзыв от компании «УЮТ-СЕРВИС»" data-caption=" Проектирование» статья 27 января, 2017 г.")
							.article__category архитектура & проектирование
							.article__title Новый бизнес-центр Grand VERA г. Челябинск
							.article__bottom
								.article__date 28 января, 2017
								.article__more Подробнее
								
					li.slider__item.article
						a.article__link(href="assets/images/content/article-big.jpg" title="Журнал «Архитектура & Проектирование» статья 27 января, 2017 г." data-fancybox="slider" data-caption=" Проектирование» статья 27 января, 2017 г.")
							.article__image
								img(src="assets/images/content/article-img.jpg", alt="Отзыв от компании «УЮТ-СЕРВИС»")
							.article__category архитектура & проектирование
							.article__title Новый бизнес-центр Grand VERA г. Челябинск
							.article__bottom
								.article__date 28 января, 2017
								.article__more Подробнее
								
					li.slider__item.article
						a.article__link(href="assets/images/content/article-big.jpg" title="Журнал «Архитектура & Проектирование» статья 27 января, 2017 г." data-fancybox="slider" data-caption=" Проектирование» статья 27 января, 2017 г.")
							.article__image
								img(src="assets/images/content/article-img.jpg", alt="Отзыв от компании «УЮТ-СЕРВИС»" )
							.article__category архитектура & проектирование
							.article__title Новый бизнес-центр Grand VERA г. Челябинск
							.article__bottom
								.article__date 28 января, 2017
								.article__more Подробнее
								
					li.slider__item.article
						a.article__link(href="assets/images/content/article-big.jpg" title="Журнал «Архитектура & Проектирование» статья 27 января, 2017 г." data-fancybox="slider" data-caption=" Проектирование» статья 27 января, 2017 г.")
							.article__image
								img(src="assets/images/content/article-img.jpg", alt="Отзыв от компании «УЮТ-СЕРВИС»")
							.article__category архитектура & проектирование
							.article__title Новый бизнес-центр Grand VERA г. Челябинск
							.article__bottom
								.article__date 28 января, 2017
								.article__more Подробнее
								
					li.slider__item.article
						a.article__link(href="assets/images/content/article-big.jpg" title="Журнал «Архитектура & Проектирование» статья 27 января, 2017 г." data-fancybox="images" data-caption=" Проектирование» статья 27 января, 2017 г.")
							.article__image
								img(src="assets/images/content/article-img.jpg", alt="Отзыв от компании «УЮТ-СЕРВИС»")
							.article__category архитектура & проектирование
							.article__title Новый бизнес-центр Grand VERA г. Челябинск
							.article__bottom
								.article__date 28 января, 2017
								.article__more Подробнее
								
					li.slider__item.article
						a.article__link(href="assets/images/content/article-big.jpg" title="Журнал «Архитектура & Проектирование» статья 27 января, 2017 г." data-fancybox="slider" data-caption=" Проектирование» статья 27 января, 2017 г.")
							.article__image
								img(src="assets/images/content/article-img.jpg", alt="Отзыв от компании «УЮТ-СЕРВИС»")
							.article__category архитектура & проектирование
							.article__title Новый бизнес-центр Grand VERA г. Челябинск
							.article__bottom
								.article__date 28 января, 2017
								.article__more Подробнее
								
								
								
