.press
	display block
	&__in
		@extends .in
		padding-top 10px
		height auto
	&__w
		width 300px
	&__title
		margin-bottom 10px
		@extends .title
	&__text
		margin-bottom 93px
		@extends .text
		color #1c1c1c
	// &__slider
	// 	padding-left 42px
