mixin certificates()
	section.certificates&attributes(attributes)
		.certificates__in
			.certificates__text
				p Мы каждый год обновляем наши сертификаты

			.certificates__slider.slider.slider_certificates
				ul.slider__list.scrollyeah(data-shadows="true" data-disableIfFit="false")
					li.slider__item
						a.slider__link(href="assets/images/content/award-big.jpg" data-fancybox="cartificates" data-caption="СРО сертификат 2017 на разрешение строительства")
							.slider__image
								img(src="assets/images/content/award-1.jpg", alt="СРО сертификат 2017 на разрешение строительства")
							.slider__item-title Строитель года «Стройка»
					li.slider__item
						a.slider__link(href="assets/images/content/award-big.jpg" data-fancybox="cartificates" data-caption="СРО сертификат 2017 на разрешение строительства")
							.slider__image
								img(src="assets/images/content/award-2.jpg", alt="СРО сертификат 2017 на разрешение строительства")
							.slider__item-title Строитель года «Стройка»
					li.slider__item
						a.slider__link(href="assets/images/content/award-big.jpg" data-fancybox="cartificates" data-caption="СРО сертификат 2017 на разрешение строительства")
							.slider__image
								img(src="assets/images/content/award-3.jpg", alt="СРО сертификат 2017 на разрешение строительства")
							.slider__item-title Строитель года «Стройка»
					li.slider__item
						a.slider__link(href="assets/images/content/award-big.jpg" data-fancybox="cartificates" data-caption="СРО сертификат 2017 на разрешение строительства")
							.slider__image
								img(src="assets/images/content/award-1.jpg", alt="СРО сертификат 2017 на разрешение строительства")
							.slider__item-title Строитель года «Стройка»
					li.slider__item
						a.slider__link(href="assets/images/content/award-big.jpg" data-fancybox="cartificates" data-caption="СРО сертификат 2017 на разрешение строительства")
							.slider__image
								img(src="assets/images/content/award-2.jpg", alt="СРО сертификат 2017 на разрешение строительства")
							.slider__item-title Строитель года «Стройка»
					li.slider__item
						a.slider__link(href="assets/images/content/award-big.jpg" data-fancybox="cartificates" data-caption="СРО сертификат 2017 на разрешение строительства")
							.slider__image
								img(src="assets/images/content/award-3.jpg", alt="СРО сертификат 2017 на разрешение строительства")
							.slider__item-title Строитель года «Стройка»



