mixin reviews()
	section.reviews&attributes(attributes)
		.reviews__in
			.reviews__text
				p «Строили небольшую баньку из сруба год назад. За это время дерево не рассохлось, банька стоит, как будто новая! Подумываем построить еще баньку родителям на даче. Спасибо за качественную работу!»
			.reviews__slider.slider.slider_reviews
				ul.slider__list.scrollyeah(data-shadows="true" data-disableIfFit="false")
					li.slider__item
						a.slider__link(href="assets/images/content/review-big.jpg" data-fancybox="reviews" data-caption="Отзыв от компании «УЮТ-СЕРВИС»")
							.slider__image
								img(src="assets/images/content/review-1.jpg", alt="Отзыв от компании «УЮТ-СЕРВИС»")
							.slider__item-title Отзыв строительной компании <br/>«УЮТ-СЕРВИС»
					li.slider__item
						a.slider__link(href="assets/images/content/review-big.jpg" data-fancybox="reviews" data-caption="Отзыв от компании «УЮТ-СЕРВИС»")
							.slider__image
								img(src="assets/images/content/review-2.jpg", alt="Диплом победителя конкурса «Строитель года — 2014»")
							.slider__item-title Отзыв от компании <br/>«АльфаСтрой»
					li.slider__item
						a.slider__link(href="assets/images/content/review-big.jpg" data-fancybox="reviews" data-caption="Отзыв от компании «УЮТ-СЕРВИС»")
							.slider__image
								img(src="assets/images/content/review-3.jpg", alt="Диплом победителя конкурса «Строитель года — 2014»")
							.slider__item-title Строитель года <br/>«Стройка»
					li.slider__item
						a.slider__link(href="assets/images/content/review-big.jpg" data-fancybox="reviews" data-caption="Отзыв от компании «УЮТ-СЕРВИС»")
							.slider__image
								img(src="assets/images/content/review-1.jpg", alt="Диплом победителя конкурса «Строитель года — 2014»")
							.slider__item-title Отзыв строительной компании <br/>«УЮТ-СЕРВИС»
					li.slider__item
						a.slider__link(href="assets/images/content/review-big.jpg" data-fancybox="reviews" data-caption="Отзыв от компании «УЮТ-СЕРВИС»")
							.slider__image
								img(src="assets/images/content/review-2.jpg", alt="Диплом победителя конкурса «Строитель года — 2014»")
							.slider__item-title Отзыв от компании <br/>«АльфаСтрой»
					li.slider__item
						a.slider__link(href="assets/images/content/review-big.jpg" data-fancybox="reviews" data-caption="Отзыв от компании «УЮТ-СЕРВИС»")
							.slider__image
								img(src="assets/images/content/review-3.jpg", alt="Диплом победителя конкурса «Строитель года — 2014»")
							.slider__item-title Строитель года <br/>«Стройка»
